Auth_Name = "..."
Auth_Password = "..."

if Auth_Name == "..." or Auth_Password == "...":
    raise Exception("The API access credentials for wigle.net are not set. Please set them in env.py.")

das
delattrd